@{
  ViewData["Title"] = "favorite";
}
@model MVC.Models.PropertyModel;

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nestify - Find your dream house</title>
    <script defer src="~/js/favorite.js"></script>
    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml" />
    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="~/css/favourite-style.css" />
    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- 
    - #HEADER
  -->
    <header class="header" data-header>
      <div class="overlay" data-overlay></div>
      <div class="header-top">
        <div class="container">
          <ul class="header-top-list">
            <li>
              <a href="#" class="logo">
                <img src="~/images/logo-light.png" height="50" alt="Nestify logo" />
              </a>
            <li>
              <a href="#" class="header-top-link"></a>
            </li>
          </ul>
          <div class="wrapper">
            <ul class="header-top-social-list">
              <li>
                <a href="#" class="header-top-social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="header-top-social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="header-top-social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="header-top-social-link">
                  <ion-icon name="logo-pinterest"></ion-icon>
                </a>
              </li>
            </ul>
            <a href="~/Home/home">
              <button class="header-top-btn" id="homeBtn">Home</button>
            </a>
          </div>
        </div>
        <div>
          <title>My Favorites</title>
          <div class="header_F">
            <title>Favorite Page</title>
            <link rel="stylesheet" type="text/css" href="style.css">
            <body></body>
            <header>
              <h1>Favorite Page</h1>
            </header>
          </div>
            <ul>
              <div class="grid-container">
                @foreach (var property in Model.Properties)
                {  
                  <div class="grid-item">
                      <div class="property-card">
                        <figure class="card-banner">
                          <a href="#">
                            <img src=@property.Image alt="Comfortable Apartment" class="w-100" />
                          </a>
                          <div class="card-badge @(property.Type == "SELL" ? "orange" : "green")">For @(property.Type)</div>
                          <div class="banner-actions">
                            <button class="banner-actions-btn">
                              <ion-icon name="location"></ion-icon>
                              <address>@property.Location</address>
                            </button>
                            <button class="banner-actions-btn">
                              <ion-icon name="camera"></ion-icon>
                              <span>4</span>
                            </button>
                            <button class="banner-actions-btn">
                              <ion-icon name="film"></ion-icon>
                              <span>2</span>
                            </button>
                          </div>
                        </figure>
                        <div class="card-content">
                          
                          @if(property.Type == "RENT"){
                            <div class="card-price">
                              <strong>£@(property.Price)</strong>/Month
                            </div>
                          }else{
                            <div class="card-price">
                              <strong>£@(property.Price)</strong>
                            </div>
                          }
                          <h3 class="h3 card-title">
                            <a href="#">@property.Title</a>
                          </h3>
                          <p class="card-text">@property.Description</p>
                          <ul class="card-list">
                            <li class="card-item">
                              <strong>@property.Bedrooms</strong>
                              <ion-icon name="bed-outline"></ion-icon>
                              <span>Bedrooms</span>
                            </li>
                            <li class="card-item">
                              <strong>@property.Bathrooms</strong>
                              <ion-icon name="man-outline"></ion-icon>
                              <span>Bathrooms</span>
                            </li>
                            <li class="card-item">
                              <strong>@property.Area</strong>
                              <ion-icon name="square-outline"></ion-icon>
                              <span>Meter Square</span>
                            </li>
                          </ul>
                        </div>
                        <div class="card-footer">
                          <div class="card-author">
                            <figure class="author-avatar">
                              <img src=@property.Author_Image alt="Adel Shakal" class="w-100" />
                            </figure>
                          </div>
                          <div>
                            <p class="author-name">
                              <a href="#">@property.Author_Name</a>
                            </p>
                            <p class="author-title">@property.Author_Agent</p>
                          </div>
                        <div class="card-footer-actions">
                          <button class="card-footer-actions-btn">
                            <ion-icon name="resize-outline"></ion-icon>
                          </button>
                          <button class="card-footer-actions-btn">
                            <ion-icon name="heart-outline"></ion-icon>
                          </button>
                          <button class="card-footer-actions-btn">
                            <ion-icon name="add-circle-outline"></ion-icon>
                          </button>
                        </div>
                        </div>
                        
                      </div>
                    </div>
                }
              </div>
            </ul>
        </div>
        <!-- 
    - #FOOTER
  -->
        <footer class="footer">
          <div class="footer-top">
            <div class="container">
              <div class="footer-brand">
                <a href="#" class="logo">
                  <img src="~/images/logo-light.png" height="40" alt="Nestify logo" />
                </a>
                <p class="section-text">Let us nestify your dream home</p>
                <ul class="contact-list">
                  <li>
                    <a href="#" class="contact-link">
                      <ion-icon name="location-outline"></ion-icon>
                      <address>Glim, Alexandria, Egypt</address>
                    </a>
                  </li>
                  <li>
                    <a href="tel:+0123456789" class="contact-link">
                      <ion-icon name="call-outline"></ion-icon>
                      <span>+201277007297</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:contact@nestify.com" class="contact-link">
                      <ion-icon name="mail-outline"></ion-icon>
                      <span>contact@nestify.com</span>
                    </a>
                  </li>
                </ul>
                <ul class="social-list">
                  <li>
                    <a href="#" class="social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="social-link">
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="social-link">
                      <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="footer-link-box">
                <ul class="footer-list">
                  <li>
                    <p class="footer-list-title">Company</p>
                  </li>
                  <li>
                    <a href="#" class="footer-link">About</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Blog</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">All Products</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Locations Map</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">FAQ</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Contact us</a>
                  </li>
                </ul>
                <ul class="footer-list">
                  <li>
                    <p class="footer-list-title">Services</p>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Order tracking</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Wish List</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Login</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">My account</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Promotional Offers</a>
                  </li>
                </ul>
                <ul class="footer-list">
                  <li>
                    <p class="footer-list-title">Customer Care</p>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Login</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">My account</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Wish List</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Order tracking</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">FAQ</a>
                  </li>
                  <li>
                    <a href="#" class="footer-link">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container">
              <p class="copyright"> &copy; 2023 <a href="#">Hugs My Bugs</a>. All Rights Reserved </p>
            </div>
          </div>
        </footer>
        <!-- 
    - custom js link
  -->
        <script src="./assets/js/script.js"></script>
        <!-- 
    - ionicon link
  -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>